{{! GMNotes Tab }}
<section class='item tab gmNotes {{tab.cssClass}}' data-group='primary' data-tab='gmNotes'>
  <div class="bold">{{localize 'BRP.gmNotes'}}</div>
  {{! Editor for description}}
  <div class="description-doc">
     <prose-mirror name="system.gmDescription" value="{{system.gmDescription}}" editable="{{editable}}" toggled="false">
        {{{enrichedGMDescription}}}
      </prose-mirror>
  </div>
</section>